
table {
    
    border-collapse: collapse;
    font-family: courier;
    font-size: 10px;
    font-weight: bold;
}
.l {
    font-size: 11px;
}
td, th {
    border-collapse: collapse;
    border: 0.01em solid #000;
    padding: 2px 2px;
    font-size: 11px;
}
tr.noborder td {
    border: 0px;
}
.titulo {
    font-family: arial;
    font-size: 12px;
    font-weight: bold;
}
tr {
    border-collapse: collapse;
}

.title-{
    // font-family: arial;
    font-size: 12px;
       
    
}